ahover = #808CEE
dark = #4A5080
base-clr = #1f1f1f
light = #E2E5FB


flex-display()
  display -webkit-flex
  display flex
	
action-btn(fontSize, background, clr)
  font-size fontSize
  font-weight 400
  background background
  padding 20px 40px
  border-radius 100px
  color clr
  letter-spacing 0
  display inline
  border 0
  cursor pointer
  outline none
  
*
	box-sizing border-box
	margin 0

body
  font-size 62.5%
  font-family "Helvetica Neue",Helvetica,Arial,sans-serif
  font-weight 400
  color base-clr
  background white
	
	.front
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		margin-top 90px
		flex-display()
		justify-content center
		align-items normal
		background transparent
		
		.front-content
			width 50%
			float left
			padding-left 40px
			padding-right 40px
			max-width 460px
			flex-display()
			flex-direction column
			justify-content center
			
			.login-btn
				action-btn(2em, ahover, white)
				
			.login-btn:hover
				box-shadow 0px 2px 24px light
			
		.hero-txt
			font-size 4.2em
			font-weight bold
			color dark
			line-height 1.2
			margin-bottom 20px
			
		.secondary-txt
			font-size 2em
			line-height 1.3
			margin-bottom 30px
		
		.screenshot
			float right
			position relative
			right 0
			width 50%
			height auto
			padding-left 50px
			
			img
				height 100%
				box-shadow 0px 12px 24px light
	
	.navi
		height 70px
		box-shadow 0px 2px 24px light
		font-size 1.4em
		padding 0 40px
		flex-display()
		justify-content space-between
		align-items center
		background white
		z-index 10
		
		.logo
			height 40px
			
			img
				height 100%
		
		.links
			font-weight 700
			letter-spacing 0.06em
			text-transform uppercase
			
			a
				margin-left 10px
  
a
	text-decoration none
	color dark
    
a:hover
	color ahover
	
@media (max-width: 700px)
	.navi
		background white
		padding 0 20px
		
	.front
		margin-top 100px
		flex-direction column
		padding-top 0
		justify-content normal
		
		.front-content
			width 100%
			max-width none
			padding 0px 20px
			position relative
			display block
			
			.hero-txt
				font-size 3em
				margin-bottom 10px
				
			.secondary-txt
				margin-bottom 25px
				font-size 1.8em
			
			.login-btn
				font-size 1.6em
				padding 20px 40px
				position inline-block
		
		.screenshot
			width auto
			float none
			position relative
			margin-top 30px
			padding 0
			width 100%
			
			img
				height auto
				width 150%