main-grey = #FCFCFD
nav-bg = #ffffff
dark = #6E7292
ahover = #808CEE
dark-text = #4A5080
light = #E2E5FB
bodyBg = rgb(238, 242, 245)
btnHover = #EEEFF9
warningRed = rgba(244, 104, 104, 0.8)
detailGrey = #A3A6C1
lightPink = #FFF9FC


flex-display()
  display -webkit-flex
  display flex
  
circular-avatar(size)
  width size
  height size
  border-radius 50%
  overflow hidden
  
action-btn(fontSize, background, clr)
  font-size fontSize
  font-weight 500
  background background
  padding 6px 18px
  border-radius 100px
  color clr
  letter-spacing 0
  display inline
  border 0
  cursor pointer
  outline none
  
.inputs
  flex 1
  width 100%
  flex-display()
  flex-direction column
  margin-bottom 5px
  
input
  background light
  border-radius 3px
  outline 0
  border 0
  margin-right 10px
  font-size 16px
  padding 5px 10px
  color dark-text
  
.cancel-btn
  action-btn(14px, warningRed, white)
  
.done-btn
  action-btn(14px, ahover, white)

body
  font-size 62.5%
  font-family "Helvetica Neue",Helvetica,Arial,sans-serif
  font-weight 400
  color dark-text
  background bodyBg
  
  a
    text-decoration none
    color dark
    
  a:hover
    color ahover
    
  ul
    padding 0
    
  li
    list-style-type none
    margin-bottom 15px
  
.dashboard
  flex-display()
  flex 1
  min-height 100vh
  max-width 1200px
  margin 0 auto
  position relative
  
  .nav
    background nav-bg
    width 200px
    order 1
    font-size 1.6em
    padding 30px 30px 20px 30px
    box-sizing border-box
    
    img
      width 100%
    
  .copyright
    font-size 0.9em
    font-weight 400
    position fixed
    bottom 20px
    
  .user
    font-weight 500
    font-size 1.1em
    color dark
    margin-top 40px
    margin-bottom 40px
    display inline-block
    
    .user-img
      circular-avatar(80px)
      margin-bottom 10px
      
      img
        width 100%
        height 100%
        
    span
      max-width 80px
    
  .list
    background main-grey
    flex 1
    order 2
    padding 30px 25px 10px 25px
    
    .list-top
      justify-content space-between
      flex-display()
    
      .list-title
        font-size 1.8em
        font-weight 400
        text-align left
        max-width 390
        flex-display()
        align-items center
        position relative
        
        .title
          margin-right 10px
          outline none
          transition all 0.2s
          max-width 300px
          word-wrap normal
          overflow hidden
          white-space nowrap
          text-overflow ellipsis
          font-weight 500
          
        button
          action-btn(14px, white, dark-text)
          border 1px solid light
          margin-left 5px
          
          &:hover
            box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.2)
          
        .edit-modal
          position absolute
          height 50px
          bottom -60px
          left 0
          background white
          border 1px solid light
          border-radius 3px
          padding 10px
          box-sizing border-box
          flex-display()
          justify-content center
          align-items center
          z-index 10
          
          .cancel-btn
            action-btn(14px, warningRed, white)
            
            &:hover
              box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.2)
            
          .done-btn
            action-btn(14px, ahover, white)
            
            &:hover
              box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.2)
              
      .members
        display flex
        transition all 0.2s
        cursor pointer
        
        .member
          margin-left -25px
          flex-display()
          flex-direction column
          position relative
          align-items center
          transition all 0.2s
          width 40px
          
          .member-image
            circular-avatar(40px)
          
          .member-image img
            width 100%
            height 100%
            
          
          .member-name
            display none
            background dark-text
            color white
            font-size 1.2em
            position relative
            padding 8px 10px
            border-radius 3px
            position absolute
            bottom -130%
            z-index 10
            
          .member-name:before
            content ' '
            width 0
            height 0
            border-left 5px solid transparent
            border-right 5px solid transparent
            border-bottom 5px solid dark-text
            position absolute
            top -5px
            left 0
            right 0
            margin auto
            
      .member:hover .member-name
        display block !important
            
      .members:hover .member
        margin-left 5px
    
    .add-share
      flex-display()
      justify-content space-between
      margin-top 30px
      position relative
      
      .add
        action-btn(14px, dark-text, white)
          
        &:hover
          box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.2)
        
      .share
        action-btn(14px, ahover, white)
        
        &:hover
          box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.2)
        
      .share-section
        position relative
        
      .share-modal
        position absolute
        height 50px
        bottom -60px
        right 0
        background white
        border 1px solid light
        border-radius 3px
        padding 10px
        box-sizing border-box
        flex-display()
        justify-content center
        align-items center
        z-index 10

        button
          action-btn(14px, white, dark-text)
          border 1px solid light
          
          &:hover
            box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.2)

        
    .list-item
      transition all 0.2s
      
      .list-item > div
        position relative
      
      .edit-item-modal
        flex-display()
        flex-direction column
        top 10px
        left 0
        background white
        border 1px solid light
        border-radius 3px
        padding 15px
        box-sizing border-box
        flex-display()
        justify-content center
        align-items center
        flex-direction column
        max-width 100%
        height 200px
        z-index 10
        
        .edit-label
          font-size 1.6em
          font-weight 600
          margin-bottom 15px
          
         input
          margin-bottom 10px
          margin-right 0
          padding 10px

        .action-btns
          width 100%
          flex-display()
          align-items center
          justify-content center

          .cancel-btn
            action-btn(14px, warningRed, white)
            margin-left 10px

            &:hover
              box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.2)

          .edit-btn
            action-btn(14px, ahover, white)
            
            &:hover
              box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.2)
      
      .list-row
        flex-display()
        font-size 15px
        padding 18px 0
        justify-content center
        align-items center
        cursor pointer
        transition all 0.2s
        
        .list-bullet
          width 20px
          height 20px
          border-radius 50%
          background white
          border 1px solid detailGrey
          margin-right 20px
      
      .list-row:hover
        background lightPink
        margin 0 -25px
        padding 18px 25px
        
      .item-info
        flex 1
        position relative
        
        .item-title
          font-size 16px
          transition all 0.2s
          overflow hidden
          white-space initial
          word-wrap break-word
          box-sizing border-box
          outline none
          
        .item-detail
          color detailGrey
          margin-top 8px
        
      .owner
        width 110px
        text-align center
        
        .owner-img
          circular-avatar(45px)
          display block
          margin 0 auto
          
          img
            width 100%
            height 100%
            
      .list-action-btns
        flex-display()
        
      .remove, .edit
        width 90px
        text-align center
        box-sizing border-box
        
        button
          action-btn(14px, white, dark-text)
          border 1px solid light
          
        button:hover
          background warningRed 
          color white 
          
      .edit
        width 70px
        
        button:hover
          background btnHover !important 
          color dark-text !important
          
      .list-row.completed
        color detailGrey
        position relative
        background btnHover
        margin 0 -25px
        padding 18px 25px
        
        
        .list-bullet
          background dark
          border 1px solid dark-text
          background dark-text
          background-position center center
          background-size cover
          
        .item-info
          text-decoration line-through
        
        
    .list-table
      margin-top 20px
      
      .list-labels
        flex-display()
        font-size 15px
        border-bottom 2px solid light
        padding-bottom 5px
        padding-left 3px
        padding-right 3px
        
        .item-col
          flex 1
          
        .owner-col
          width 105px
          text-align center
          

        .remove-col
          width 160px
          text-align center
          
        .remove-col
          margin-right 0
        
    
  .my-lists
    background nav-bg
    width 200px
    order 3
    padding 20px 15px
    box-sizing border-box
    position relative
    
    .close-my-lists
      line-height 0
      font-size 12px
      background dark-text
      color white
      display inline-block
      width 30px
      height 30px
      border-radius 50%
      font-weight 600
      position absolute
      right 15px
      cursor pointer
      
      &:before
        content '✕'
        position absolute
        margin auto
        flex-display()
        align-items center
        justify-content center
        width 100%
        height 100%
      
    .close-my-lists:hover
      background warningRed
    
    .my-lists-top
      flex-display()
      align-items center
      justify-content space-between
      margin-top 15px
      
      h1
        flex 1
    
    button
      action-btn(14px, white, dark-text)
      border 1px solid light
      
    button:hover
        box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.2)
      
    .add-list
      action-btn(14px, ahover, white)
      
    .footnote
      font-size 1.2em
      line-height 1.4
      background dark-text
      color white
      padding 10px
      border-radius 5px
      margin-top 20px
      
    .owned-lists
      font-size 1.6em
      box-sizing border-box
      margin-top 15px
      
      li
        max-width 100%
        box-sizing border-box
        padding 20px
        background light
        text-align center
        border-radius 5px
        border 1px solid mainGrey
        position relative
        cursor pointer
        
        
      li:hover
        background ahover
        color white
        
      .list-route
        overflow hidden
        word-wrap normal
        // white-space nowrap
        // text-overflow ellipsis
          
      li.current
        background bodyBg
        
      li.current:hover
        color dark-text
        background bodyBg
        
    .editable
      li:hover
        color dark
        cursor pointer
        background white
        color dark
        
      .leave
        content 'Leave this list'
        background warningRed
        width 100%
        height 100%
        position absolute
        top 0
        left 0
        color white
        justify-content center
        align-items center
        display none
        border-radius 5px
        
      li:hover .leave
        flex-display()
        
        
.list .add-share .add-section
  
  .add-modal
    position absolute
    bottom -185px
    background white
    border 1px solid light
    border-radius 3px
    padding 15px
    box-sizing border-box
    flex-display()
    justify-content center
    align-items center
    flex-direction column
    width 450px
    z-index 10
    
    .add-label
      font-size 1.6em
      font-weight 600
      margin-bottom 15px
    
    .action-btns
      width 100%
      flex-display()
      align-items center
      justify-content center
      
      .cancel-btn
        action-btn(14px, warningRed, white)
        margin-left 10px
        
        &:hover
          box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.2)

      .done-btn
        action-btn(14px, ahover, white)
          
        &:hover
          box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.2)
               
    input
      margin-bottom 10px
      
.mobile-nav
  z-index 9999
  position fixed
  width 100%
  background white
  overflow hidden
  border-bottom 1px solid light
  align-items center
  justify-content space-between
  padding 10px 20px
  height 60px
  box-sizing border-box
  top 0
  display none
  
  img
    width 100%
    height auto
  
  .user-img
    width 40px
    height 40px
    overflow hidden
    border-radius 100%
    cursor pointer
  
  .logo
    width 80px
    margin-right 20px
    
  .lists-menu
    width 28px
    cursor pointer
    
    &:hover
      color dark
      
@media (max-width: 790px)
  body
    background main-grey
    
  .dashboard
    width 100%
    overflow-x hidden
    margin-top 60px
    
  .dashboard .nav, .dashboard .my-lists
    display none
    
  .dashboard .nav.mobile
    display block
    position fixed
    top 60px
    left 0
    bottom 0
    z-index 99
    
  .dashboard .my-lists.mobile
    display block
    position absolute
    top 0
    right 0
    bottom 0
    z-index 99
    
  .list-action-btns
    flex-direction column
    align-items center
    
  .dashboard .list .list-item .remove, .dashboard .list .list-item .edit
    width 80px
    
    button
      width 100%
      
  .dashboard .list .list-item .edit
    margin-bottom 5px
      
  .dashboard .list .list-item .owner
    width 80px
    
  .mobile-nav
    flex-display()
    
  .list .add-share .add-section .add-modal
    width 100%
    
  .dashboard .list .list-top .list-title
    flex-direction column
    align-items left
    
    button
      margin-left 0
      margin-top 5px
      
  .dashboard .list .add-share
    margin-top 20px